
/* Desktop */
@media only screen and (max-width: 1920px) {
    
}
/* Desktop */
@media only screen and (max-width: 1680px) {
    
}

/* Laptop */
@media only screen and (max-width: 1440px) {
    
}
/* Ipad Pro */
@media only screen and (max-width: 1024px) {
    
}
/* Ipad */
@media only screen and (max-width: 768px) {
    .MainApp {
        border: 1px solid red;
        margin: 10px 0;
        font-size: 1em;
        text-align: left;
        width: 100%;
        margin-left: 2.5%;
        cursor: pointer;
        background: rgb(240, 240, 240)
    }
    .Subject {
        font-size: 1em;
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }
    .From {
        font-size: 1em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        
    }
}
/*Mobile */
@media only screen and (max-width: 415px) {
    .MainApp {
        border: 1px solid gray;
        margin: 10px 0;
        font-size: 1em;
        text-align: left;
        width: 95%;
        margin-left: 2.5%;
        cursor: pointer;
        background: rgb(240, 240, 240)
    }
    .Subject {
        font-size: 1em;
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }
    .From {
        font-size: 1em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        
    }
}
/* Mobile */
@media only screen and (max-width: 375px) {
    .MainApp {
        border: 1px solid gray;
        margin: 10px 0;
        font-size: 1em;
        text-align: left;
        width: 95%;
        margin-left: 2.5%;
        cursor: pointer;
        background: rgb(240, 240, 240)
    }
    .Subject {
        font-size: 1em;
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }
    .From {
        font-size: 1em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        
    }
}